<div id="donate">
	<h4><strong>Help us help our colleagues.</strong></h4>
	<p>We have set up the <strong><a href="https://uk.virginmoneygiving.com/NursingNotes">NursingNotes Health and Social Care Emergency Aid Fund</a></strong> sponsoring both the <a href="https://www.cavellnursestrust.org/">Cavell Nurses&#8217; Trust</a> and <a href="https://rcnfoundation.rcn.org.uk/">RCN Foundation</a> to ensure aid can quickly reach health and social care workers affected by COVID-19.</p>
	<p><a class="btn btn-default" href="https://uk.virginmoneygiving.com/NursingNotes">Make a Donation &#x1f308;</a></p>
</div>