{% assign heroes = site.heroes | sort: 'last_name' %}
{% for hero in heroes %}
<div class="usa-media-block tablet:grid-col-6 margin-bottom-3">
{% if hero.portrait %}
<img loading="lazy" class="usa-media-block__img" src="/assets/img/{{ hero.portrait | prepend: site.baseurl }}" alt="{{ hero.first_name }} {{ hero.last_name }} portrait" />
{% else %}
<img loading="lazy" class="usa-media-block__img" src="{{ "/assets/img/icn-profile.svg" | relative_url }}" alt="" />
{% endif %}
<div class="usa-media-block__body">
	<h2 class="usa-graphic-list__heading">{{ hero.first_name }} {{ hero.last_name }}</h2>
	<p class="margin-y-05 line-height-sans-3"><em><small>{{ hero.occupation }}{% if hero.employer %}, {{ hero.employer }}{% endif %}</small></em></p>
	<p class="margin-y-05"><small><a href="{{ hero.url | prepend: site.baseurl }}">Read More</a></small></p>
	<p class="post-excerpt">{{ hero.description | truncate: 160 }}</p>
</div>
</div>
{% endfor %}