---
layout: default
---
<div class="usa-section">
	<div class="grid-container">
		<div class="grid-row grid-gap">
			<div class="usa-layout-docs__sidenav desktop:grid-col-3">
				<nav aria-label="Secondary navigation">
					<ul class="usa-sidenav">
						{% for page in site.pages %}
						{% if page.layout == "default" or page.url contains ".xml" %}
						{% else %}
						<li class="usa-sidenav__item{% if page.title == page.url %} usa-current{% endif %}">
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</nav>
			</div>

			<main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
				<h1>{{ page.title }}</h1>

				{{ content }}
				
			</main>
		</div>
	</div>
</div>